.wrapper{
    min-height: 100vh;
    position: relative;
    padding-top: 35px;
    padding-bottom: 120px;
    box-sizing: border-box;
    background-image: url(../image/bg.png);
    background-size: cover;
}

main {
    margin: 8px 16px 8px 16px;
    color: rgb(63, 36, 0);
}

h1 {
    text-align: center;
    border-bottom: 1px;
    border-bottom-color: rgb(226, 226, 226);
    border-bottom-style: solid;
}

h2 {
    margin: 36px 0px 8px 0px;
}

#header-text{
    padding: 16px;
    color: white;
}

img {
    width: auto;
    height: auto;
    max-height: 400px;
    max-width: 100%;
}

header{
    width: 100%;
    background-color: darkorange;
    color: white;
    padding: 5px 0;

    position: absolute;
    top: 0;
}

footer{
    width: 100%;
    background-color: rgb(44, 45, 54);
    color: white;
    text-align: center;
    padding: 20px 0;

    position: absolute;
    bottom: 0;
}

#maru-batsu {
    text-align: center;
}

#true{
    margin: 4px;
    padding: 4px;
    width: 48%;
    max-width: 100%;
    min-width: 200px;
}

#false{
    margin: 4px;
    padding: 4px;
    width: 48%;
    max-width: 100%;
    min-width: 200px;
}

#answer{
    margin: 4px;
    padding: 4px;
}

#key{
    margin-left: 2pt;
    margin-right: 2pt;
    font-size: 16pt;
    color: red;
    font-weight: bold;
}