.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}

main {
    margin: 8px 16px 8px 16px;
}

h1 {
    text-align: center;
    border-bottom: 1px;
    border-bottom-color: rgb(226, 226, 226);
    border-bottom-style: solid;
}

h2 {
    margin: 36px 0px 8px 0px;
}

footer{
    width: 100%;
    background-color: rgb(44, 45, 54);
    color: white;
    text-align: center;
    padding: 20px 0;

    position: absolute;
    bottom: 0;
}